
@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Área Restrita";
}
<div class="linhas w-100">
    <hr class="styleLinha" size="4" />
    <h1 class="lancaLinha">ÁREA RESTRITA</h1>
    <hr class="styleLinha" size="4">
</div>




