@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col-6 offset-6 d-flex justify-content-around mt-2">
            <a class="nav-link text-dark d-inline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá, @User.Identity?.Name!</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
            </form>
        </div>
    }
    else
    {
        <div class="col-4 offset-8 d-flex justify-content-around mt-2">
            <a class="nav-link text-dark d-inline" asp-area="Identity" asp-page="/Account/Register">Cadastre-se</a>
            <a class="nav-link text-dark d-inline" asp-area="Identity" asp-page="/Account/Login">Entre</a>
        </div>
    }
</div>