@model SerTerraQueijaria.Models.TiposProdutos

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Delete";
}
<div class="linhas w-100">
    <hr class="styleLinha" size="4" />
    <h1 class="lancaLinha">APAGAR</h1>
    <hr class="styleLinha" size="4">
</div>


<h5 class="ms-4 mb-3">Você tem certeza que deseja deletar esse item?</h5>

<hr class="ms-4 me-4" />

<div>
    <dl class="row">
        <dt class="col-sm-2 mt-2 ms-4">
            @Html.DisplayNameFor(model => model.TipoProduto)
        </dt>
        <dd class="col-sm-10 mt-2 ms-4">
            @Html.DisplayFor(model => model.TipoProduto)
        </dd>
    </dl>

    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="TiposProdutosId" />
            <input type="submit" value="Delete" class="btn btn-outline-danger mt-2 ms-4" />

            <a asp-action="Index" class="btn mt-2 ms-1 border-1 border-dark">
                <svg bootstrap-icon="ArrowLeft" width="16" height="16" arial-label="Voltar"></svg>
                Voltar
            </a>
        </form>
    </div>
</div>