@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contato";
}

<h1 class="montserrat-titulo">FALE CONOSCO</h1>

<hr class="linha-admin">

<div class="contato my-5 row w-100">

    <div class="col-6">
        <br />
        <br />
        <br />
        <div class="Faleconosco">
            <i class=" bi bi-clock">
                Atendimento das 9h às 18h de segunda <br>
                à sexta, das 09h às 16h aos sábados.
            </i>
            <br>
            <br>
            <i class="bi bi-telephone"> (00) 00000-0000</i> <br>
            <i class="bi bi-envelope"> serterraqueijaria@gmail.com</i> <br>
            <i class="bi bi-geo-alt-fill"> Rua Lactose, Leitolândia, Rio de Leite - RL</i>

        </div>
    </div>

    <div class="col-6">
        <p id="texto">
            <form class="form">
                <div class="mb-3 fw-bold">
                    <label for="exampleInputEmail1" class="form-label">NOME COMPLETO</label>
                    <input type="email" class="form-control border-1 border-dark " id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3 fw-bold">
                    <label for="exampleInputEmail1" class="form-label">EMAIL</label>
                    <input type="email" class="form-control border-1 border-dark" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>

                <div class="mb-3 fw-bold">
                    <label for="exampleFormControlTextarea1" class="form-label">MENSAGEM</label>
                    <textarea class="form-control border-1 border-dark h-50" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>


                <div class="d-flex justify-content-center">
                    <input class="btn-contato fw-bold" type="submit" value="ENVIAR">
                </div>

            </form>

        </p>

    </div>

</div>