@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre";
}
<div id="sobre">

    <h1 class="montserrat-titulo">SOBRE</h1>

    <hr class="linha-admin">

    <div id="sobre">
 
    </div>

    <br>
    <br>


    <!-- Div que agrupa a imagem e o texto -->
    <div class="d-inline-flex" style="margin-bottom: 30px">

        <div class="logo-container">
            <img src="~/img/vacaSerTerra.png" alt="SerTerra Logo" class="logo">
        </div>

        <div class="primeiro-paragrafo">
            <p style="text-align: justify">
                A SerTerra Queijaria é o destino definitivo para os amantes de queijo, oferecendo uma seleção incomparável
                dos melhores queijos já produzidos. Em nosso site, os visitantes têm a oportunidade de explorar a fascinante
                origem da criação de queijos, descobrir os melhores queijos brasileiros, aprender sobre seus métodos de produção
                e identificar as melhores ocasiões e acompanhamentos para desfrutar de cada variedade. Além disso, proporcionamos
                a conveniência de adquirir nossos queijos de acordo com as preferências individuais e a ocasião específica.
                Na SerTerra Queijaria, reunimos os mais refinados conhecimentos sobre queijo em um único local, garantindo
                uma experiência excepcional para todos os apreciadores.
            </p>
            <p style="text-align: justify">
                A SerTerra Queijaria tem como objetivo principal fornecer uma boa experiência e o melhor atendimento aos clientes,
                visando facilitar a busca pelo queijo de sua preferência, enquanto otimiza-se os custos associados e proporciona-se
                agilidade na obtenção dos produtos.
            </p>
        </div>

    </div>


    <div class="outros-paragrafos">
        <p style="text-align: justify">
            O nome 'SerTerra Queijaria' une 'Ser', que significa autenticidade e qualidade dos produtos, com 'Terra',
            representando a origem natural dos ingredientes usados em nossos queijos. Juntos, esses elementos refletem
            nosso compromisso com produtos genuínos e de alta qualidade, além de nossa conexão com a natureza, transmitindo
            uma mensagem positiva sobre nossos valores e filosofia como empresa.
        </p>

    </div>

</div>

