@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}

<h1 class=" entrarcontaTT">@ViewData["Title"]</h1>
<br />
<br />
<div class="row w-100 d-flex justify-content-center uma flex-lg-shrink-0">
    <div class="w-50 d-flex justify-content-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button id="resetarSenha" type="submit" class="w-100 btn-lg fw-bold">Resetar senha</button>
        </form>
    </div>
</div>

<br>
<br>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
