@model SerTerraQueijaria.Models.Produto

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Create";
}

<h1 class="ms-4 mb-3 mt-2">Criar</h1>

<hr class="ms-4 me-4" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2 ms-4">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 ms-4">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 ms-4">
                <label asp-for="PrecoUnitario" class="control-label"></label>
                <input asp-for="PrecoUnitario" class="form-control" />
                <span asp-validation-for="PrecoUnitario" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 ms-4">
                <label asp-for="QtdEstoque" class="control-label"></label>
                <input asp-for="QtdEstoque" class="form-control" />
                <span asp-validation-for="QtdEstoque" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 ms-4">
                <label asp-for="TiposProdutosId" class="control-label"></label>
                <input asp-for="TiposProdutosId" class="form-control" />
                <span asp-validation-for="TiposProdutosId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mt-2 ms-4">
                <input type="submit" value="Criar" class="btn btn-outline-success mt-2 ms-4" />

                <a asp-action="Index" class="btn mt-2 ms-1 border-1 border-dark">
                    <svg bootstrap-icon="ArrowLeft" width="16" height="16" arial-label="Voltar"></svg>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}